In [1]:
import pandas as pd
# Reading Boston housing data from csv file
BostonHousingData = pd.read_csv('C:/Users/sovon/Documents/Python/Python Datasets/Regression Datasets/BostonHousingData.csv')

In [4]:
BostonHousingData.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219247,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305
ZN,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311991,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445
INDUS,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.391676,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725
CHAS,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091251,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260
NOX,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302188,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321
RM,-0.219247,0.311991,-0.391676,0.091251,-0.302188,1.000000,-0.240265,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.613808,0.695360
AGE,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240265,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955
DIS,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.205246,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929
RAD,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.209847,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626
TAX,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292048,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536
PTRATIO,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.355501,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787
B,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128069,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461
LSTAT,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.613808,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663
MEDV,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.695360,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000

In [8]:
SelectedColumnsForMlr = ['RM', 'LSTAT', 'PTRATIO']
TargetVariable = ['MEDV']

In [6]:
import numpy as np

In [9]:
X = BostonHousingData[SelectedColumnsForMlr].values
y = BostonHousingData[TargetVariable].values

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 90)

In [16]:
mlr = LinearRegression()
BostonRegModel = mlr.fit(X_train, y_train)

In [17]:
print('Slope is: ',BostonRegModel.coef_)
print('intercept is', BostonRegModel.intercept_)

Slope is:  [[ 4.44552651 -0.58122916 -0.92458749]]
intercept is [18.92003542]

In [18]:
y = y_train
yhat = BostonRegModel.predict(X_train)

In [21]:
yhat[0:10]

array([[40.79886537],
       [29.28219844],
       [16.43060107],
       [31.72108985],
       [15.01914858],
       [12.04784385],
       [35.75925586],
       [24.47610841],
       [14.79810765],
       [29.7738812 ]])

In [22]:
y = y_train
yhat = BostonRegModel.predict(X_train)

In [23]:
SS_Residual = sum((y-yhat)**2)
SS_Total = sum((y-np.mean(y))**2)
R_suared = 1-(float(SS_Residual))/SS_Total

In [31]:
Adjusted_R_squared = 1-(1-R_suared)*(y.shape[0]-1)/(y.shape[0]-y.shape[1]-1)

In [35]:
yhatTesting = BostonRegModel.predict(X_test)

In [55]:
BostonHousingTestingData = pd.DataFrame(X_test, columns=SelectedColumnsForMlr)
BostonHousingTestingData['MEDV'] = y_test
BostonHousingTestingData.head()

      RM  LSTAT  PTRATIO  MEDV
0  6.487   5.90     19.1  24.4
1  7.520   7.26     13.0  43.1
2  6.951   9.71     17.4  26.7
3  6.232  12.34     18.7  21.2
4  6.358  11.22     16.6  22.2

In [56]:
import copy
BostonHousingTestingDataCopy = copy.deepcopy(BostonHousingTestingData)

In [60]:
BostonHousingTestingDataCopy['PredictedMEDV'] = yhatTesting.round(2)

In [61]:
BostonHousingTestingDataCopy.head()

      RM  LSTAT  PTRATIO  MEDV  PredictedMEDV
0  6.487   5.90     19.1  24.4          26.67
1  7.520   7.26     13.0  43.1          36.11
2  6.951   9.71     17.4  26.7          28.09
3  6.232  12.34     18.7  21.2          22.16
4  6.358  11.22     16.6  22.2          25.32

In [62]:
BostonHousingTestingDataCopy['APE']=100 * abs((BostonHousingTestingDataCopy['MEDV']-BostonHousingTestingDataCopy['PredictedMEDV'])/BostonHousingTestingDataCopy['MEDV'])

In [64]:
MAPE = np.mean(100 * abs((BostonHousingTestingDataCopy['MEDV']-BostonHousingTestingDataCopy['PredictedMEDV'])/BostonHousingTestingDataCopy['MEDV']))

In [67]:
100-MAPE

80.00407617789897